/*-----------------------------------------------------*/
/*----------------------Header-------------------------*/
.icon{
    height: 40px;
    padding: 10px;
}

.carrinho {
    height: 30px;
    padding: 10px;
}

.cabecalho {
    background-color: #FAA11C;
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
}
.espaco-header{
    padding-top: 65px;
}
/*-----------------------------------------------------*/
/*---------------------Produtos------------------------*/
.produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}

/* Estilos para um produto individual */
.produto {
    background-color: #D9D9D9;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
    padding: 20px;
    margin: 10px;
    width: 200px;
    text-align: center;
    transition: box-shadow 0.3s ease;
}

.produto:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 1);
}

.produto img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
    
}

.produto h3 {
    margin-top: 0;
    font-size: 18px;
}

.produto p {
    margin: 10px 0;
}

.produto button {
    background-color: #FAA11C;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.produto button:hover {
    background-color: #FAA11C;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 1);
}

.produto button:active{
    opacity: 0.5;
}

.fontepreco{
    font-family: 'Roboto', sans-serif;
}

.fonteMenu{
    font-family: 'Montserrat', sans-serif;
}

.produto h3 {
    margin-top: 0;
    font-size: 18px;
    border-top: 1px solid #000;
    padding-top: 10px;
}

/*-----------------------------------------------------*/
/*---------------------Bem Vindo-----------------------*/
#bem-vindo{
    background-image: linear-gradient(to right, rgb(0, 0, 0),rgb(25, 25, 25));
    color: white;
    height: 410px;
    display: flex;
    padding: 0 0 20px 0;
    border-radius: 0 0 30px 30px;
    padding-top: 65px;
}
#bem-vindo p{
    font-size: 17px;
    text-align: justify;
    margin: 20px;
}
#bem-vindo h2{
    font-size: 30px;
}
.texto-bv{
    font-family: "Montserrat", sans-serif;
    display: inline-block;
    width: 1000px;
    padding: 0 0 0 50px;
    margin: auto 0;
}
#hamb-bemvindo{
    width: 300px;
    margin: 0 0 0 20px;
}
.direita{
    float: right;
}
.orange{
    color:#FAA11C;
    font-weight: bold;
}

/*-----------------------------------------------------*/
/*-----------------------Menu--------------------------*/
.alinharMeio{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding-top: 40px;
}

/*-----------------------------------------------------*/
/*----------------------Rodapé-------------------------*/

footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

footer h1 {
    margin-top: 0;
}

footer p {
    margin: 10px 0;
}

footer img {
    width: 40px; 
    height: 40px;
    border-radius: 6px;
    margin: 5px;
}

.conteudo-site {
    display: block;
    text-align: left;
    float: left;
    padding-left: 10px;
}

.social-media {
    display: inline-block;
    vertical-align: top;
}

.chama-zap {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: right; 
    vertical-align: top;
    float: right; 
}

.copyright {
    margin-top: 20px;
    font-size: 14px;
}

.nome-rodape{
    text-align: left;
    padding-bottom: 20px;
}


.linha-branca {
    border-top: 1px solid white;
    width: 100%;
}

.copyright{
    padding-top: 2px;
}

.whatsapp-icon {
    width: 50px; 
    height: 50px;
    border-radius: 6px;
    margin: 5px;
}
.espaco-footer{
    padding-top: 100px;
}
/*-----------------------------------------------------*/
/*----------------------Carrinho-----------------------*/
.principal{
    display: block;
}

.container {
    background-color: rgba(217, 217, 217, 1);
    display: block;
    width: 94.5%;
    height: 160px;
    margin-top: 150px;
    margin-left: 50px;
    margin-right: auto;
}

.carrinho-titulo {
    position: relative;
    margin: 50px; 
    font-family: "Truculenta", sans-serif;
}

.linha {
    margin-top: 0;
    border-bottom: 1px solid #000;
    padding-top: 10px;
}

.tabela, th, td{
    border-collapse: collapse;
    font-size: 20px;
    padding: 10px;
    text-align: left;
}

.imagem{
    width: fit-content;
    height: 150px;
    display: inline-block;    
}

.product {
    display: flex;
    align-items: center;
  }
  
  .product img {
    border-radius: 6px;
  }
  
  .product .info {
    margin-left: 20px;
  }
  
  .product .info .name {
    font-size: 22px;
    margin-bottom: 17px;
  }
  
  .product .info .preco {
    color: #525252;
}

.btn-icone:active {
    background-color: #dddddd; 
}


.botao-qtd {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    font-size: 18px; 
}

.linha-tabela{
    background-color: #D9D9D9;  
}

.qty{
    display: flex;
    gap: 0;
}

.quant{
    display: inline-block;
    vertical-align: middle;
    background-color: #808080;
    color: white;
    padding: 3px 8px 3px 8px;
}
.text-bt{
    padding-top: 6px;
}

.btn-delete{
    background-color: #D9D9D9;
}
.btn-left {
    border-radius: 10px 0 0 10px;
}
.btn-right {
    border-radius: 0 10px 10px 0 ;
}

.btn-icone:hover {
    cursor: pointer;
    background-color: #797979;
}


.truculenta-100 {
    font-family: "Truculenta", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 36px;
}

.del-tam{
    width: 20px;
}

.centro {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.linha-tabela{
    background-color: #ebebeb;
}
#table-foot{
    background-image: linear-gradient(to top, #252525, #ebebeb);
}
#table-head{
    background-color: #252525;
    color: white;
}

.borda-left{
    border-radius: 10px 0 0 0 ;
}
.borda-right{
    border-radius: 0 10px 0 0 ;
}
.borda-left-foot{
    border-radius: 0 0 0 10px ;
}
.borda-right-foot{
    border-radius: 0 0 10px 0 ;
}

#finalizar-pedido{
    display: flex;
    margin: 15px;
    font-family: "Truculenta", sans-serif;
    float: right;
}

#btn-finalizar{
    background-color: #FAA11C;
    color: white;
    padding: 10px;
    border-radius: 15px;
    font-weight: bold;
    font-size: large;
}
#btn-finalizar:hover{
    cursor: pointer;
}

#total-pedido{
    font-size: 30px;
    margin: 4px 8px 0 0;
}

.meus-pedidos{
    position: relative;
    margin-left: 1800px;
    color: #000;
    font-family: "Truculenta", sans-serif;
    font-size: 25px;
}

.none-link{
    text-decoration: none;
}