/*-----------------------------------------------------*/
/*-------------------------2100px á 1500px-----------------------*/

@media screen and (max-width: 2100px) {
    .meus-pedidos{
        position: relative;
        margin-left: 1550px;
        color: #000;
        font-family: "Truculenta", sans-serif;
        font-size: 25px;
    }
}

@media screen and (max-width: 1800px) {
    .meus-pedidos{
        position: relative;
        margin-left: 1300px;
        color: #000;
        font-family: "Truculenta", sans-serif;
        font-size: 25px;
    }
}

@media screen and (max-width: 1600px) {
    .meus-pedidos{
        position: relative;
        margin-left: 1100px;
        color: #000;
        font-family: "Truculenta", sans-serif;
        font-size: 25px;
    }
}

@media screen and (max-width: 1500px) {
    .meus-pedidos{
        position: relative;
        margin-left: 1000px;
        color: #000;
        font-family: "Truculenta", sans-serif;
        font-size: 25px;
    }
}

/*-----------------------------------------------------*/
/*-------------------------1440px á 1024px-----------------------*/

@media screen and (max-width: 1440px) {
    .meus-pedidos{
        position: relative;
        margin-left: 950px;
        color: #000;
        font-family: "Truculenta", sans-serif;
        font-size: 25px;
    }
}

@media screen and (max-width: 1255px) {
    .meus-pedidos{
        position: relative;
        margin-left: 750px;
        color: #000;
        font-family: "Truculenta", sans-serif;
        font-size: 25px;
    }
}

@media screen and (max-width: 1060px) {
    .meus-pedidos{
        position: relative;
        margin-left: 550px;
        color: #000;
        font-family: "Truculenta", sans-serif;
        font-size: 25px;
    }
}

/*-----------------------------------------------------*/
/*-------------------------1024px-----------------------*/

@media screen and (max-width: 1024px) {
    .meus-pedidos{
        position: relative;
        margin-left: 550px;
        color: #000;
        font-family: "Truculenta", sans-serif;
        font-size: 25px;
    }
}

/*-----------------------------------------------------*/
/*-------------------------924px á 768px-----------------------*/

@media screen and (max-width: 924px) {
    .texto-bv{
        width: 2000px;
    }
    #bem-vindo p{
        font-size: 17px;
        margin: 20px;
    }
    .meus-pedidos{
        position: relative;
        margin-left: 400px;
        color: #000;
        font-family: "Truculenta", sans-serif;
        font-size: 25px;
    }
}

@media screen and (max-width: 855px) {
    .meus-pedidos{
        position: relative;
        margin-left: 370px;
        color: #000;
        font-family: "Truculenta", sans-serif;
        font-size: 25px;
    }
}

@media screen and (max-width: 820px) {
    .meus-pedidos{
        position: relative;
        margin-left: 320px;
        color: #000;
        font-family: "Truculenta", sans-serif;
        font-size: 25px;
    }
}

@media screen and (max-width: 780px) {
    .meus-pedidos{
        position: relative;
        margin-left: 290px;
        color: #000;
        font-family: "Truculenta", sans-serif;
        font-size: 25px;
    }
}


/*-----------------------------------------------------*/
/*-------------------------768px á 587px-----------------------*/

@media screen and (max-width: 768px) {
    .icon {
        height: 30px;
        padding: 5px;
    }
    
    .carrinho {
        height: 25px;
        padding: 5px;
    }
    
    .titulo {
        font-size: 20px;
    }
    
    .produtos {
        justify-content: space-around;
    }
    
    .produto {
        width: 30%;
        margin: 20px 20px;
    }

    .titulo {
        font-size: 20px;
    }

    #bem-vindo {
        flex-direction: column-reverse;
        height: auto;
        padding: 0px;
    }

    #bem-vindo h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    #bem-vindo p {
        font-size: 15px;
        margin-bottom: 10px;
    }

    #bem-vindo .texto-bv {
        padding: 0;
        text-align: center;
    }

    #bem-vindo .conteudo-site {
        text-align: center;
        margin-bottom: 20px;
    }

    #bem-vindo .social-media, #bem-vindo .chama-zap {
        margin-bottom: 20px;
    }

    #bem-vindo {
        margin-top: 42px;
        flex-direction: row;
    }

    #bem-vindo .texto-bv {
        flex: 1;
        padding-right: 20px;
    }

    #hamb-bemvindo{
        width: fit-content;
    }
    .meus-pedidos{
        position: relative;
        margin-left: 400px;
        color: #000;
        font-family: "Truculenta", sans-serif;
        font-size: 25px;
    }
}

@media screen and (max-width: 740px) {
    .meus-pedidos{
        position: relative;
        margin-left: 330px;
        color: #000;
        font-family: "Truculenta", sans-serif;
        font-size: 25px;
    }
}

@media screen and (max-width: 670px) {
    .meus-pedidos{
        position: relative;
        margin-left: 290px;
        color: #000;
        font-family: "Truculenta", sans-serif;
        font-size: 25px;
    }
}

@media screen and (max-width: 630px) {
    .meus-pedidos{
        position: relative;
        margin-left: 250px;
        color: #000;
        font-family: "Truculenta", sans-serif;
        font-size: 25px;
    }
}

/*-----------------------------------------------------*/
/*-------------------------587px-----------------------*/
@media screen and (max-width: 587px) {
    #bem-vindo .texto-bv {
        flex: 1;
        padding-right: 0px;
    }
    #bem-vindo p{
        margin: 0 5px 10px 20px;
    }
    .meus-pedidos{
        position: relative;
        margin-left: 200px;
        color: #000;
        font-family: "Truculenta", sans-serif;
        font-size: 25px;
    }
}

/*-----------------------------------------------------*/
/*-------------------------540px á 426px-----------------------*/
@media screen and (max-width: 540px){
    #hamb-bemvindo{
        visibility: hidden;
        width: 0px;
    }

    .tabela, th, td {
        font-size: 16px; 
    }

    .imagem {
        height: 100px; 
    }

    .product .info .name {
        font-size: 18px; 
        margin-bottom: 10px; 
    }

    .product .info .preco {
        font-size: 16px; 
    }

    .qty {
        gap: 5px; 
    }

    .quant {
        padding: 2px 5px; 
        font-size: 14px; 
    }

    .del-tam {
        width: 15px; 
    }

    #total-pedido {
        font-size: 24px; 
    }
    .meus-pedidos{
        position: relative;
        margin-left: 150px;
        color: #000;
        font-family: "Truculenta", sans-serif;
        font-size: 25px;
    }
}

/*-----------------------------------------------------*/
/*-------------------------426px-----------------------*/
@media screen and (max-width: 426px){
    .produto{
        margin: 10px 0 10px 0;
    }
    .meus-pedidos{
        position: relative;
        margin-left: 80px;
        color: #000;
        font-family: "Truculenta", sans-serif;
        font-size: 25px;
    }
}