/* HEADER */
.icon{
    height: 40px;
    padding: 10px;
}

.carrinho {
    height: 30px;
    padding: 10px;
}

.cabecalho {
    background-color: #FAA11C;
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

/* ---------- */

footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

footer h1 {
    margin-top: 0;
}

footer p {
    margin: 10px 0;
}

footer img {
    width: 40px; 
    height: 40px;
    border-radius: 6px;
    margin: 5px;
}

.conteudo-site {
    display: inline-block;
    text-align: left;
    float: left;
}

.social-media {
    display: inline-block;
    vertical-align: top;
}

.chama-zap {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: right; 
    vertical-align: top;
    float: right; 
}

.copyright {
    margin-top: 20px;
    font-size: 14px;
}

.nome-rodape{
    text-align: left;
    padding-bottom: 20px;
}

.linha-branca {
    border-top: 1px solid white;
    width: 100%;
}

.copyright{
    padding-top: 2px;
}

.whatsapp-icon {
    width: 50px; 
    height: 50px;
    border-radius: 6px;
    margin: 5px;
}
