/* HEADER */
.icon{
    height: 40px;
    padding: 10px;
}

.carrinho {
    height: 30px;
    padding: 10px;
}

.cabecalho {
    background-color: #FAA11C;
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

/* Bem-Vindo */
#bem-vindo{
    background-image: linear-gradient(to right, rgb(0, 0, 0),rgb(25, 25, 25));
    color: white;
    height: 410px;
    display: flex;
    padding: 0 0 20px 0;
    border-radius: 0 0 30px 30px;
}
#bem-vindo p{
    font-size: 17px;
    text-align: justify;
    margin: 20px;
}
#bem-vindo h2{
    font-size: 30px;
}
.texto-bv{
    font-family: "Montserrat", sans-serif;
    display: inline-block;
    width: 1000px;
    padding: 0 0 0 50px;
    margin: auto 0;
}
#hamb-bemvindo{
    width: 300px;
    margin: 0 0 0 199px;
}
.direita{
    float: right;
}
.orange{
    color:#FAA11C;
    font-weight: bold;
}

/* ---------- */
.tamanhoImgsAcompanhamentos{
    width : 120px;
    height : 120px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.div-acompanhamentos{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.div-acompanhamentos-fritas{
    background-color: rgba(217, 217, 217, 1);
    width: 160px;
    height: 310px;
    border-radius: 9px;
    display: inline-block;
    margin-left: 25%;
}

.div-acompanhamentos-cebola{
    background-color: rgba(217, 217, 217, 1);
    width: 160px;
    height: 310px;
    border-radius: 9px;
    display: inline-block;
    margin-left: 80px;
    margin-right: 80px;
}

.div-acompanhamentos-frango{
    background-color: rgba(217, 217, 217, 1);
    width: 160px;
    height: 310px;
    border-radius: 9px;
    display: inline-block; 
    margin-right: 25%;
}

h1, h2, p{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style : normal;
    font-variation-settings : "slnt" 0;
    text-align: center;
}

hr{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    border: solid 1px;
    margin-top: 10px;
}

.alinhamento-botao{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border: solid 1px;
}

.alinhamento-botao-fritas{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    border: solid 1px;
}

.titulo-div{
    margin-top: 10px;
}

.texto-div{
    margin-top: 10px;
}

.div-elementos-acomp{
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

button{
    border-radius: 5px;
    padding: 5px;
}