/* HEADER */
.icon{
    height: 40px;
    padding: 10px;
}

.carrinho {
    height: 30px;
    padding: 10px;
}

.cabecalho {
    background-color: #FAA11C;
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

/* ---------- */
.tamanhoImgsAcompanhamentos{
    width : 120px;
    height : 120px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.div-acompanhamentos{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.div-acompanhamentos-fritas{
    background-color: rgba(217, 217, 217, 1);
    width: 160px;
    height: 310px;
    border-radius: 9px;
    display: inline-block;
    margin-left: 25%;
}

.div-acompanhamentos-cebola{
    background-color: rgba(217, 217, 217, 1);
    width: 160px;
    height: 310px;
    border-radius: 9px;
    display: inline-block;
    margin-left: 80px;
    margin-right: 80px;
}

.div-acompanhamentos-frango{
    background-color: rgba(217, 217, 217, 1);
    width: 160px;
    height: 310px;
    border-radius: 9px;
    display: inline-block; 
    margin-right: 25%;
}

h1, h2, p{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style : normal;
    font-variation-settings : "slnt" 0;
    text-align: center;
}

hr{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    border: solid 1px;
    margin-top: 10px;
}

.alinhamento-botao{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border: solid 1px;
}

.alinhamento-botao-fritas{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    border: solid 1px;
}

.titulo-div{
    margin-top: 10px;
}

.texto-div{
    margin-top: 10px;
}

.div-elementos-acomp{
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

button{
    border-radius: 5px;
    padding: 5px;
}


.principal{
    display: block;
       
}

.container {
    background-color: rgba(217, 217, 217, 1);
    display: block;
    width: 94.5%;
    height: 160px;
    margin-top: 150px;
    margin-left: 50px;
    margin-right: auto;
}


.carrinho-titulo {
    position: relative;
    left: 0;
    margin: 50px; }

.linha {
    position: absolute;
    top: 135px; 
    display: block;
    margin-top: 25px;
    margin-left: 50px;
    width: 94.5%; 
    border-top: 1px solid black; 
}

.tabela, th, td{
    border-collapse: collapse;
    font-size: 22px;
    border-collapse: collapse;
    padding: 10px;
    text-align: left;
}

.imagem{
    width: fit-content;
    height: 150px;
    display: inline-block;    
}

.product {
    display: flex;
    align-items: center;
  }
  
  .product img {
    border-radius: 6px;
  }
  
  .product .info {
    margin-left: 20px;
  }
  
  .product .info .name {
    font-size: 25px;
    margin-bottom: 20px;
  }
  
  .product .info .preco {
    color: #666;
  }


.btn-icone {
    background-color: #ffffff;
    padding: 5px; 
    border: solid 2px #333333; 
    cursor: pointer;
    transition: background-color 0.3s;
}


.btn-icone:active {
    background-color: #dddddd; 
}


.botao-qtd {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    font-size: 18px; 
}

.linha-tabela{
    background-color: #D9D9D9;
    
}

.truculenta-100 {
    font-family: "Truculenta", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 36px;
}

.del-tam{
    width: 20px;
    
}

.centro {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}